@model ToDoList.ViewModels.TaskIndexViewModel


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table table-condensed">
    <thead>
        <tr>
            <th>Title</th>
            <th>Last Updated</th>
            <th>Created</th>
            <th>@* Edit button *@</th>
            <th>@* Delete button *@</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var task in Model.TaskList)
        {
            <tr>
                <td>@task.Title</td>
                <td>
                    @if (task.LastUpdated.HasValue)
                    {
                        task.LastUpdated.Value.ToString("dd/MM/yyyy hh:mm tt");
                    }
                </td>
                <td>
                    @task.RecordCreated.ToString("dd/MM/yyyy hh:mm tt");
                </td>
                <td><span class="btn btn-primary">Edit</span></td>
                <td><span class="btn btn-danger">Delete</span></td>
            </tr>
        }
    </tbody>
</table>

