body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#tblTask {
    margin-top: 25px;
}

    #tblTask a,
    #tblTaskUpdates a {
        text-decoration: none;
    }

    #tblTaskUpdates th,
    #tblTaskUpdates td,
    #tblTask td,
    #tblTask th {
        text-align: center;
        vertical-align: middle;
    }

#TaskUpdateContainer {
    margin-top: 25px;
}

.taskCompleteButton {
    text-align: center;
}

.taskNotComplete {
    color: #e74c3c;
}

.taskComplete {
    color: #149c82;
}

#newUpdateLink {
    float: right;
}

#tblTaskUpdatesContainer {
    margin-top: 25px;
}

.validationText {
    color: #e74c3c;
}

#MarkAsCompleteContainer {
    margin-top: 30px;
}

.TaskDeadlinePassed {
    color: #C55A4B;
}

.font-weight-bold {
    font-weight: bold;
}